.navbar1 {
  width: 100%;
  height: 8rem;
  background-color: #1d232a;
  padding: 2rem 4rem;
}

.navbar1 .nav-list {
  height: 100%;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  align-items: center;
}

.nav-list .item {
  list-style: none;
}

.item > a {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
}

.item > a:hover {
  color: var(--primary-color);
}

.item:last-child {
  margin-left: auto;
  display: flex;
  gap: 3rem;
}

.input-group,
.button-group {
  position: relative;
}

.input-group .search-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.4rem;
  left: 1rem;
}

.input-group .search-input {
  width: 29rem;
  height: 4.8rem;
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  font-size: 2rem;
}

.button-group .btn-icon {
  width: 1.8rem;
  height: 1.8rem;

  position: absolute;
}

.btn-icon.signup {
  color: #fff;
  top: 1.5rem;
  right: 2rem;
}

.btn-icon.course {
  color: #fff;
  top: 1.5rem;
  right: 0.3rem;
}

.btn1 {
  width: 18rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 2.2rem;
}

.btn1:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-signup {
  background-color: var(--primary-color);
  color: #fff;
}

.Welcome {
  padding: 2rem 0;
}

.welcome-wrapper {
  overflow: hidden;
  padding-bottom: 30rem;
}

.Intro {
  padding: 2rem 4rem;
}

.welcome-detail {
  margin-left: 2.5rem;
}

.Welcome_title {
  color: var(--primary-color);
  font-size: 5rem;
}

.Welcome_title p {
  margin-bottom: 0 !important;
  font-weight: bold;
}

.Welcome_Content {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.Welcome_login,
.btn-icon.signup.Welcome_login {
  color: var(--primary-color);
  background-color: #fff;
}
.Welcome_img {
  width: 222px;
  height: 100px;
  border-radius: 1.5rem;
}

.welcome-image-list {
  position: relative;
}

.row1 {
  position: absolute;
  top: 0;
  right: -8rem;
}

.row2 {
  position: absolute;
  top: 12rem;
  right: -2rem;
}

.row3 {
  position: absolute;
  top: 24rem;
  right: -8rem;
}

.row4 {
  position: absolute;
  top: 36rem;
  right: -10rem;
}

.row5 {
  position: absolute;
  top: 48rem;
  right: -8rem;
}

.Intro,
.TopCourses {
  background-color: #1d232a;
  border-radius: 1rem;
}

.Intro_img {
  max-width: 100%;
  max-height: 100%;
}

.Intro_part p,
.Intro_Title p {
  color: #ffffff;
}

.Intro_Title p {
  text-align: center;
  font-size: 2.5rem;
}

.Intro_part {
  padding-left: 10rem;
}

.Intro_part_title p {
  font-size: 2rem;
}

.Intro_part_content p {
  font-size: 1.5rem;
}

.Roadmap_part {
  text-align: center;
  width: 100%;
}

.Roadmap_part_content p {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.Roadmap_part_title p {
  font-size: 2rem;
  color: var(--primary-color);
}
.Roadmap_title p {
  font-size: 2.5rem;
  text-align: center;
}

.TopCourses_title {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  font-style: italic;
  padding: 0 5rem;
  vertical-align: auto;
}

.Course_img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 200px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  object-fit: cover;
}

.Course {
  width: 100%;
  height: 100%;
}
.Course_Content {
  color: #fff;
  height: auto;
  background-color: #2c343a;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.Couse_author p,
.Course_Length p {
  font-size: 1.5rem;
  color: #95999c;
}
.Course_Title p {
  font-size: 2rem;
}

.TopCourses .Course {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.Courses {
  padding: 0 10rem;
}

.footer {
  padding: 2rem 3rem 10rem 3rem;
}

.footer-des {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}

.footer-logo {
  font-size: 5rem;
  color: var(--primary-color);
}

.footer-des-detail {
  font-size: 2.6rem;
  color: var(--primary-color);
}

.footer-img {
  width: 6.7rem;
  height: 4.9rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12rem;
  row-gap: 3.4rem;
}

.links {
  text-decoration: none;
  color: var(--primary-color);
}

a.links:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.85;
}

.footer-main-links {
  font-size: 2.4rem;
  font-weight: 600;
}

.footer-link {
  font-size: 2rem;
}

.row-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
