.navbar1 {
  width: 100%;
  height: 8rem;
  background-color: #1d232a;
  padding: 2rem 4rem;
}

.navbar1 .nav-list {
  height: 100%;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  align-items: center;
}

.nav-list .item {
  list-style: none;
}

.item > a {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
}

.item > a:hover {
  color: #04adbf;
}

.item:last-child {
  margin-left: auto;
  display: flex;
  gap: 3rem;
}

.input-group,
.button-group {
  position: relative;
}

.input-group .search-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.4rem;
  left: 1rem;
}

.input-group .search-input {
  width: 29rem;
  height: 4.8rem;
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  font-size: 2rem;
}

.button-group .btn-icon {
  width: 1.8rem;
  height: 1.8rem;

  position: absolute;
}

.btn-icon.signup {
  color: #fff;
  top: 1.5rem;
  right: 2rem;
}

.btn1 {
  width: 18rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 2.2rem;
}

.btn1:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-signup {
  background-color: #04adbf;
  color: #fff;
}

.Welcome,
.Intro {
  padding: 2rem 4rem;
}

.Welcome_title {
  color: #04adbf;
  font-size: 5rem;
}

.Welcome_title p {
  margin-bottom: 0 !important;
  font-weight: bold;
}

.Welcome_Content {
  font-size: 1.5rem;
  color: #04adbf;
  font-weight: bold;
}

.Welcome_login,
.btn-icon.signup.Welcome_login {
  color: #04adbf;
  background-color: #fff;
}
.Welcome_img {
  width: 222px;
  height: 100px;
  border-radius: 1.5rem;
}

.padding_left {
  padding-left: 10rem;
}

.Intro,
.TopCourses {
  background-color: #1d232a;
  border-radius: 1rem;
}

.Intro_img {
  max-width: 100%;
  max-height: 100%;
}

.Intro_part p,
.Intro_Title p {
  color: #ffffff;
}

.Intro_Title p {
  text-align: center;
  font-size: 2.5rem;
}

.Intro_part {
  padding-left: 10rem;
}

.Intro_part_title p {
  font-size: 2rem;
}

.Intro_part_content p {
  font-size: 1.5rem;
}

.Roadmap_part {
  text-align: center;
  width: 100%;
}

.Roadmap_part_content p {
  font-size: 1.5rem;
  color: #04adbf;
}
.Roadmap_part_title p {
  font-size: 2rem;
  color: #04adbf;
}
.Roadmap_title p {
  font-size: 2.5rem;
  text-align: center;
}

.TopCourses_title {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  font-style: italic;
  padding: 0 5rem;
  vertical-align: auto;
}

.Course_img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 200px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  object-fit: cover;
}

.Course {
  width: 100%;
  height: 100%;
}
.Course_Content {
  color: #fff;
  height: auto;
  background-color: #2c343a;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.Couse_author p,
.Course_Length p {
  font-size: 1.5rem;
  color: #95999c;
}
.Course_Title p {
  font-size: 2rem;
}

.TopCourses .Course {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.Courses {
  padding: 0 10rem;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
