.navbar1 {
  width: 100%;
  height: 8rem;
  background-color: #1d232a;
  padding: 2rem 4rem;
}

.navbar1 .nav-list {
  height: 100%;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  align-items: center;
}

.nav-list .item {
  list-style: none;
}

.item > a {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
}

.item > a:hover {
  color: var(--primary-color);
}

.item:last-child {
  margin-left: auto;
  display: flex;
  gap: 3rem;
}

.input-group,
.button-group {
  position: relative;
}

.input-group .search-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.4rem;
  left: 1rem;
}

.input-group .search-input {
  width: 29rem;
  height: 4.8rem;
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  font-size: 2rem;
}



.button-group .btn-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
}

.btn-icon.signup {
  color: #fff;
  top: 1.6rem;
  right: 2rem;
}

.btn-icon.course {
  color: #fff;
  top: 1.6rem;
  right: 0.3rem;
}

.btn1 {
  display: block;
  width: 18rem;
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  border-radius: 0.8rem;
  border: none;
  font-size: 2.2rem;
}

.btn1:hover {
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

.btn-signup {
  background-color: var(--primary-color);
  color: #fff;
}
