.add-practice {
  width: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.add-practice:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-practice > svg {
  width: 3rem;
  height: 3rem;
  color: #0480dc;
}

.add-practice > span {
  font-size: 2.4rem;
  color: #0480dc;
}
