.add-week {
  width: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.add-week:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-week > svg {
  width: 4rem;
  height: 4rem;
  color: #0480dc;
}

.add-week > span {
  font-size: 3rem;
  color: #0480dc;
}
